/*
-----------
Reset
-----------
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
-----------
Common
-----------
*/

header, footer {
    color: white;
}

.header-content, .main-container {
    margin: 0 auto;
    width: 80%;
}

a {
    text-decoration: none;
}

/*
-----------
Header
-----------
*/

header {
    background-color: #FF6900;
    height: 70px;
}

header, .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-content a {
    color: white;
}

header .header-right-content a {
    margin-left: 8px;
}

header .header-left-content a {
    margin-right: 8px;
}

.header-content span {
    font-weight: 600;
}

.header-content img {
    height: 30px;
}

/*
-----------
Main
-----------
*/

.main-container {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.product-container:nth-child(3n) {
}


.product-container {
    max-width: calc(100% / 3 - 10px);
}

.product-container > .product-image img {
    width: 100%;
    display: block;
}

.product-image {
    position: relative;
}

.product-image > i, .product-image > span {
    position: absolute;

}

.product-image > img {
    max-height: 924px;

}

.product-image > span {
    bottom: 40px;
    padding: 5px 10px;
    color: white;

}

.product-image > i {
    right: 0;
    top: 5px;
    padding: 20px;
    background-color: white;
}

.discount-tag {
    background-color: red;
}

.sustainable-tag {
    background-color: green;
    left: 60px;
}

.product-container .product-description span:last-child {
    color: red;
}

.product-container .product-description span:last-child::after {
    content: '29,99€';
    color: black;
    text-decoration: line-through;
    margin-left: 5px;
}



