/*
-----------
Reset
-----------
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
-----------
Common
-----------
*/

header, footer {
    color: white;
}

.header-content, .main-container, .footer-content {
    margin: 0 auto;
    width: 80%;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Maven Pro', sans-serif;
}

/*
-----------
Header
-----------
*/

header {
    background-color: #FF6900;
    height: 70px;
}

header, .header-content, .footer-content, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-right-content a {
    margin-left: 8px;
}

header .header-left-content a {
    margin-right: 8px;
}

.header-content span {
    font-weight: 600;
}

.header-content img {
    height: 30px;
}

/*
-----------
Main
-----------
*/

.main-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.product-container {
    max-width: calc(100% / 3 - 10px);
}

.product-container > .product-image img {
    width: 100%;
    display: block;
}

.product-image {
    position: relative;
}

.product-image > i, .product-image > span {
    position: absolute;

}

.product-image > img {
    max-height: 924px;

}

.product-image > span {
    bottom: 40px;
    padding: 5px 10px;
    color: white;

}

.product-image > i {
    right: 0;
    top: 5px;
    padding: 20px;
    background-color: white;
}

.discount-tag {
    background-color: red;
}

.sustainable-tag {
    background-color: green;
    left: 60px;
}

.product-container .product-description span:nth-of-type(2) {
    color: red;
}

.product-container .product-description span:nth-of-type(3) {
    text-decoration: line-through;
    margin-left: 5px;
}

.product-container:last-child .product-image .sustainable-tag {
    left: 0;
}

/*
-----------
Product interactions
-----------
*/

.images {
    position: relative;
}

.images img:first-child {
    position: absolute;
}

.images img:first-child:hover {
    opacity: 0;
}

/*
-----------
Footer
-----------
*/

footer {
    background-color: #1A1A1A;
    height: 110px;
}

footer h4 {
    margin-bottom: 5px;
}

footer a {
    margin-right: 5px;
}

.footer-left-content a {
    font-size: 13px
}


